---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=a2de61999374ff0180f21ef51b0df105&exclude=minutely,alerts&lat=39.7385&lon=-104.9849
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1623617423,"sunrise":1623583887,"sunset":1623637732,"temp":306.76,"feels_like":305.77,"pressure":1010,"humidity":29,"dew_point":286.28,"uvi":9.12,"clouds":3,"visibility":10000,"wind_speed":0.89,"wind_deg":113,"wind_gust":3.58,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1623614400,"temp":307.13,"feels_like":305.65,"pressure":1010,"humidity":25,"dew_point":284.34,"uvi":11.13,"clouds":2,"visibility":10000,"wind_speed":3.51,"wind_deg":80,"wind_gust":4.97,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1623618000,"temp":306.76,"feels_like":305.77,"pressure":1010,"humidity":29,"dew_point":286.28,"uvi":9.12,"clouds":3,"visibility":10000,"wind_speed":5.59,"wind_deg":101,"wind_gust":5.22,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1623621600,"temp":307.12,"feels_like":305.77,"pressure":1009,"humidity":26,"dew_point":284.92,"uvi":5.85,"clouds":7,"visibility":10000,"wind_speed":6.92,"wind_deg":114,"wind_gust":5.7,"weather":[{"id":800,"[...]
