---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=6h9iKDkCWz9iLuwWtkfwYsbm0TihNR3e&location=New%20York
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 15 Jun 2021 20:10:19 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"New
        York"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"New
        York","adminArea5Type":"City","adminArea4":"New York County","adminArea4Type":"County","adminArea3":"NY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040974","unknownInput":"","type":"s","latLng":{"lat":40.713054,"lng":-74.007228},"displayLatLng":{"lat":40.713054,"lng":-74.007228},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=6h9iKDkCWz9iLuwWtkfwYsbm0TihNR3e&type=map&size=225,160&locations=40.713054,-74.007228|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1568553706"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"NY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A3XAX","geocodeQuality":"STATE","dra[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=a2de61999374ff0180f21ef51b0df105&exclude=minutely,alerts&lat=40.713054&lon=-74.007228&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.7131,"lon":-74.0072,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1623787820,"sunrise":1623749060,"sunset":1623803335,"temp":79.41,"feels_like":79.41,"pressure":1007,"humidity":43,"dew_point":54.99,"uvi":2.14,"clouds":75,"visibility":10000,"wind_speed":1.99,"wind_deg":358,"wind_gust":7,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1623787200,"temp":79.41,"feels_like":79.41,"pressure":1007,"humidity":43,"dew_point":54.99,"uvi":2.14,"clouds":75,"visibility":10000,"wind_speed":15.59,"wind_deg":303,"wind_gust":18.81,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1623790800,"temp":78.85,"feels_like":78.85,"pressure":1007,"humidity":44,"dew_point":55.11,"uvi":1.26,"clouds":71,"visibility":10000,"wind_speed":12.8,"wind_deg":301,"wind_gust":17.52,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1623794400,"temp":78.66,"feels_like":78.33,"pressure":1007,"humidity":45,"dew_point":55.56,"uvi":1.21,"clouds":67,"visibility":10000,"wind_speed":12.01,"wind_deg":307,"wind_gust":15.73,"weather":[{"id":[...]
